body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Titillium Web', sans-serif;
    color: wheat;
    margin: 0px;
    padding: 0px;
    background: url(orion-nebula-11107.jpg);
    height: 900px;
}

.left {
    margin: 3px 15px;
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
}

.left img {
    width: 120px;
}

.left div {
    position: sticky;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.mid {
    display: block;
    width: 40%;
    margin: 20px auto;
}

.right {
    position: absolute;
    right: 34px;
    top: 28px;
}

.navbar li {
    position: sticky;
    display: inline-block;
}

.navbar li a {
    position: sticky;
    color: white;
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
}

.navbar li a:hover,
a:active {
    text-decoration: underline;
    color: rgb(105, 104, 102)
}

.btn {
    font-family: 'Montserrat', sans-serif;
    margin: 23px 9px;
    background-color: black;
    color: white;
    border: 2px solid grey;
    padding: 7px 18px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(47, 42, 42);
}

.container {
    text-align: center;
    border: 2px solid #b2cab2;
    margin: 200px 108px;
    width: 35%;
    padding: 15px 46px;
    border-radius: 20px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 460px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 20px;
    border-radius: 8px;
}